<% provide(:title, "Log in to WordNews") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
        <% if flash[:error] || flash[:errors] %>
            <div class="alert alert-danger"><%= flash[:error] || flash[:errors] %></div>
        <% end %>
        <% if flash[:info] %>
            <div class="alert alert-info"><%= flash[:info] || flash[:info] %></div>
        <% end %>
        <% flash[:error] = flash[:errors] = flash[:info] = nil %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= link_to "(forgot password)", request_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <br>

    <div class="text-center">
      <p style="text-align: center"> - OR - </p>
      <a href="<%= social_auth_path(:facebook, "login") %>" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>
        Login with Facebook
      </a>

    </div>
  </div>
</div>