<h1>Most Annotated articles from <%= from_date %> to <%= to_date %></h1>

<table class="table table-striped">
  <tr>
    <th>Website</th>
    <th>Url</th>
    <th>Url postfix</th>
    <th>Annotation count</th>
    <th>Language</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.website %></td>
    <td><%= article.url %></td>
    <td><%= article.url_postfix %></td>
    <td><%= article.annotation_count %></td>
    <td><%= article.lang %></td>
  </tr>
<% end %>
</table>

<br />
