<!-- TODO: show Language instead of language code-->

<h1>All the annotations done by <%=  @user.user_name %></h1>

<table class="table table-striped">
  <tr>
    <th>No.</th>
    <th>Language</th>
    <th>Selected text</th>
    <th>Translation</th>
    <th>Url of the article</th>
  </tr>

<% @annotations.each_with_index do |annotation, index| %>
  <tr>
    <td><%=index+1 %></td>
    <td><%= annotation.lang %></td>
    <td><%= annotation.selected_text %></td>
    <td><%= annotation.translation %></td>
    <td><a href='<%= annotation.url %>'><%= annotation.url %></a></td>
  </tr>
<% end %>
</table>
